/*Maak hier jouw CSS!*/
body {
    background-color: #577399;
    padding: 16px;
    margin: 0;
}
.container {
    height: 100vh;
    background-color: #577399;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 150px auto 50px 50px 50px 50px 50px;
    grid-gap: 16px;
    grid-template-areas:
            "header"
            "main"
            "aside-1"
            "aside-2"
            "aside-3"
            "empty"
            "footer";
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    background-color: #335c67;
    grid-area: header;
}

#main {
    background-color: #fff3b0;
    grid-area: main;
}

#aside-1 {
    background-color: #e09f3e;
    grid-area: aside-1;
}

#aside-2 {
    background-color: #9e2a2b;
    grid-area: aside-2;
}

#aside-3 {
    background-color: #9b2226;
    grid-area: aside-3;
}

#footer {
    background-color: #540b0e;
    grid-area: footer;
}

#empty-space {
    grid-area: empty;
}

@media screen and (min-width: 768px){

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 50px 190px 100px auto 50px;
        grid-gap: 16px;
        grid-template-areas:
                "header aside-1 aside-1"
                "main aside-1 aside-1"
                "main aside-3 aside-2"
                "main aside-3 empty"
                "footer footer footer";
    }

}